uvicorn
sqlalchemy
python-multipart
pydantic
pydantic-settings
fastapi
sqlalchemy
pydantic
langchain
langchain-google-genai
langchain-community
langsmith
faiss-cpu
huggingface-hub
PyPDF2
streamlit
requests
python-multipart
langchain-core
sentence_transformers
